@import "../../styles/fonts.css";

/* mobile */
@media (max-width: 1279px) {
    .fire-explosion-mobile {
        width: 754px;
        height: 754px;
    }

    .fire-explosion-title {
        top: 298px;
        width: 312px;
        font-size: 50px;
        line-height: 53px;
    }

    .fire-explosion-description {
        width: 234px;
        top: 422px;
        font-size: 17px;
        line-height: 19px;
    }

    .fire-explosion-desktop {
        display: none;
    }

    .arrow-link {
        margin: 109px auto 0 auto;
    }

    .interested-in-more {
        display: none;
    }

    .sports-link {
        display: none;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .sports-link {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        background-color: #F71273;
        width: 552px;
        display: block;
        height: 52px;
        line-height: 52px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .interested-in-more {
        letter-spacing: 8px;
        display: block;
        font-size: 60px;
        color: #fff;
        font-weight: bold;
        line-height: 48px;
        width: max-content;
        margin: 90px auto 53px;
    }

    .arrow-link {
      margin: 66px auto 0 auto;
    }

    .fire-explosion-desktop {
        position: relative;
        top: -156px;
        display: block;
    }

    .fire-explosion-description {
        top: 469px;
        width: 344px;
        font-size: 25px;
        line-height: 27px;
    }

    .fire-explosion-title {
        font-size: 73px;
        top: 289px;
        width: 454px;
        line-height: 76px;
    }

    .fire-explosion-mobile {
        display: none;
    } 
}

.page {
    font-family: "Owners Narrow";
    font-weight: 700;
    font-style: normal;

    background-color: #0c133c;
    min-width: fit-content;
    width: 100%;
    position: relative;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.link-pop {
    display: block
  }

.fire-explosion-block {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fire-explosion-title {
    margin: 0 auto;
    color: #fff;
    position: absolute;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
}

.fire-explosion-description {
    display: block;
    margin: 0 auto;
    position: absolute;
    letter-spacing: 4px;
    font-weight: 500;
    text-align: center;
}

.arrow-link {
    display: block;
    width: max-content;
}


.sports-link:hover {
    color: #F71273;
    background-color: #fff;
}
#burger-menu2 {
    display: none;
}
  
#burger-menu2.show {
    display: block;
}

.hidden {
    overflow-y: hidden;
}