/* mobile */
@media (max-width: 1279px) {
    .features {
        width: 100vw;
        flex-direction: column;
        margin-top: 20px;
    }

    .features-title-mobile {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .features-img {
        width: 350px;
        height: 491px;
    }

    .features-arrow {
        height: 22px;
        width: 22px;
        top: 285px;
    }

    .features-subtitle {
        width: 335px;
        font-size: 40px;
        line-height: 48px;
    }

    .features-deskription {
        width: 324px;
        font-size: 18px;
        line-height: 24px;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .features-deskription {
        width: 435px;
        font-size: 20px;
        line-height: 27px;
    }

    .features-subtitle {
        width: 502px;
        font-size: 60px;
        line-height: 60px;
    }

    .features-arrow {
        width: 36px;
        height: 37px;
        top: 475px;
    }

    .features-img {
        width: 700px;
        height: 840px;
    }
    .features-title-mobile {
        font-size: 50px;
        margin-bottom: 54px;
        position: absolute;
        left: 767px;
        top: 270px;
        line-height: 48px;
    }

    .features {
        width: 1209px;
        flex-direction: row;
        margin: 0 auto;
    }
}

.features {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.features-title-mobile {
    font-weight: bold;
    color: #fff;
    width: fit-content;
}

.features-img {
    object-fit: contain;
}

.features-img-wrapper {
    position: relative;
}

.features-arrow {
    position: absolute;
}

.features-arrow-left  {
    left: 0;
}

.features-arrow-right {
    right: 0;
}

.features-subtitle {
    font-weight: bold;
    color: #f71273;
    margin-bottom: 23px;
}

.features-deskription {
    display: block;
    color: #fff;
    font-weight: 300;
}
