@import "../styles/fonts.css";

h1 {
  margin: 0;
}

h2 {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #f71273;
  font-weight: 500;
  font-family: "Owners Narrow";
  margin-top: 50px;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Owners";
}

body {
  margin: 0;
  min-height: 100vh;
  background: url('../assets/images/fire-background.png') 0 124px/ 100% auto no-repeat, linear-gradient(to top, #0E1851 80%, #0c133c 30%);
  color: #fff;
  padding: 0 149px 83px 97px;

  @media (max-width: 1110px) {
    padding: 0 48px 87px;
    background: url('../assets/images/fire-background.png') center 20px/ 1224px auto no-repeat,
      linear-gradient(to top, #0E1851 90%, #0c133c 20%);
  }
}

main {
  padding-top: 133px;
}

.terms-title {
  font-family: "Owners Narrow";
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 50px;

  margin-bottom: 27px;

  @media (max-width: 1110px) {
    margin-bottom: 35px;
    font-size: 40px;
  }
}

.terms-subtitle {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #f7f6f2;
  font-weight: 300;
  font-family: "Owners";
}

.terms-btn {
  display: block;
  width: 157px;
  margin: 37px auto 0;
}

#burger-menu2 {
  display: none;
}

#burger-menu2.show {
  display: block;
  margin-left: -97px;
  
  @media (max-width: 1110px) {
    margin-left: -48px;
  }
}

.hidden {
  overflow-y: hidden;
}