.features {
    margin-top: 20px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 1280px) {
        margin: 0 auto;
        flex-direction: row;
        width: 1209px;
    }
}

.features-title-mobile {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    width: fit-content;
    margin-bottom: 20px;

    @media(min-width: 1280px) {
        display: none;
    }
}

.features-img {
    width: 397px;
    height: 491px;
}

.features-img-wrapper {
    position: relative;
    /* margin: 0 auto; */
}

.features-arrow {
    position: absolute;
    top: 285px;
    height: 22px;
    width: 22px;
}

.features-arrow-left  {
    left: 60px;
}

.features-arrow-right {
    right: 25px;
}

.features-title-desktop {
    width: max-content;
    display: none;

    @media(min-width: 1280px) {
        display: block;
    }
}

.features-subtitle {
    font-size: 40px;
    font-weight: bold;
    color: #f71273;
    width: 335px;
    
    @media(min-width: 1280px) {
        font-size: 60px;
        width: 502px;
    }
}

.features-deskription {
    width: 324px;
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 300;

    @media(min-width: 1280px) {
        width: 435px;
    }
}

.features-text-block {

}