/* mobile */
@media (max-width: 1279px) {
  .slide-image {
    display: block;
  }

  .carousel-controls .prev-slide {
    width: 49%;
  }

  .carousel-controls .next-slide {
    width: 49%;
    right: 0;
  }

  .slide-img-wrapper {
    margin: 0 auto;
    width: 355px;
  }

  .slide-text-block {
    margin: 0 auto;
    max-width: 335px;
  }

  .carousel {
    /* margin-left: 15%;
    margin-right: 15%; */
  }

  ul.slides {
    height: 750px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  ul.slides {
    height: 840px;
  }

  .carousel {
    margin: 0;
  }

  .slide-text-block {
    padding-top: 370px;
    margin: 0 0 0 65px;
    max-width: 502px;
  }

    .slide-img-wrapper {
      margin: 0;
      width: 707px;
    }

  .carousel-controls .next-slide {
    left: 30%;
    width: 29%;
    height: 840px;
  }

  .carousel-controls .prev-slide {
    width: 29%;
    height: 840px;
  }

  .slide-image {
    display: flex;
    justify-content: space-between;
  }
}

.carousel-container {
  width: 100%;
}

ul.slides {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-img-wrapper {
  position: relative;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.invisible-span {
  opacity: 0;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  text-align: right;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input:checked+.slide-container .nav label {
  display: block;
}