@import "../fonts.css";

.footer-logo-mobile {
    margin: 45px auto 0;
    display: block;

    @media(min-width: 1280px) {
        display: none;
    }
}

.footer {
    font-family: "Owners";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;

    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-bottom {
    background-color: #0e1851;
    height: 441px;
    padding-top: 45px;
}

.footer-top {
    height: 294px;
    margin-bottom: -15px;
    position: relative;
}
.footer-fire {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.footer-text {
    color: #fff;
}

.footer-text-wrapper {
    width: 324px;
    margin: 0 auto;

    @media (min-width: 1280px) {
        width: 1086px;
    }
}

.disclaimer {
    font-family: "Owners Narrow";
    font-weight: 700;
    font-style: normal;

    bottom: 0;
    font-size: 40px;
    font-weight: bold;
    margin: 250px auto 0;
    position: relative;
    display: block;
    width: max-content;

    @media (min-width: 1280px) {
        width: 1086px;
    }
}

.description {
    font-size: 18px;
    font-weight: light;

    @media (min-width: 1280px) {
        font-size: 20px;
    }
}

.footer-logo-desktop {
    display: none;

    @media (min-width: 1280px) {
        display: block;
        margin: 80px auto 0;
    }
}