.header-mobile {
    display: block;
    padding-top: 31px;
    
    @media (min-width: 1280px) {
        /* padding-top: 33px; */
        display: none;
    }
}

.nav-mobile {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.logo-mobile {
    width: 154px;
    height: 89px;
    /* margin: 0 auto; */
    display: block;
}

.burger {
    position: absolute;
    right: -58px;
    top: 0;
}