.page {
    background-color: #0c133c;
    min-width: fit-content;
    width: 100%;
    position: relative;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 2000px;
}

.fire-explosion-block {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fire-explosion-mobile {
    width: 754px;
    height: 754px;

    @media (min-width: 1280px) {
        display: none;
        /* background-color: red; */
    }
}

.fire-explosion-title {
    width: 312px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top: 298px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.fire-explosion-description {
    display: block;
    width: 234px;
    margin: 0 auto;
    position: absolute;
    top: 422px;
    font-size: 17px;
    text-align: center;
}