@import "../styles/fonts.css";

h1 {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url('../assets/images/fire-background.png') 0 124px/ 100% auto no-repeat, linear-gradient(to top, #0E1851 50%, #0c133c 50%);
  color: #fff;
  padding: 0 149px 83px 97px;

  @media (max-width: 1110px) {
    padding: 0 48px 87px;
    background: url('../assets/images/fire-background.png') center 20px/ 1224px auto no-repeat,
      linear-gradient(to top, #0E1851 70%, #0c133c 30%);
  }
}

main {
  padding-top: 133px;
}

.register-title {
  font-family: "Owners Narrow";
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 50px;
  color: #F71273;

  margin-bottom: 27px;

  @media (max-width: 1110px) {
    margin-bottom: 35px;
    font-size: 40px;
  }
}

.inputs {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 21px 30px;

  @media (max-width: 1110px) {
    display: block;
  }
}

.register-form-input {
  display: block;
}

.from-link-label {
  margin-top: 37px;
}

.register-form .label:not(:first-child) {
  @media (max-width: 1110px) {
    display: block;
    margin-top: 24px;
  }
}

.register-form-btn {
  display: block;
  width: 342px;
  margin: 37px auto 0;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.register-from-link {
  text-align: center;
  margin-top: 18px;
}

.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-input+label::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #adb5bd;
  margin-right: 30px;
}

.checkbox-input:checked+label::before {
  background: #fff url('../assets/images/check.png') center /18px 18px no-repeat;
}

#burger-menu2 {
  display: none;
}

#burger-menu2.show {
  display: block;
  margin-left: -97px;
  
  @media (max-width: 1110px) {
    margin-left: -48px;
  }
}

.hidden {
  overflow-y: hidden;
}