@font-face {
  font-family: "Owners";
  src: url("/src/fonts/Owners-Light_.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Owners Narrow";
  src: url("/src/fonts//Owners_Narrow-Bold_.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  
}

@font-face {
    font-family: "Owners Narrow";
    src: url("/src/fonts/Owners_Narrow-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }