@import "./fonts.css";

/* mobile */
@media (max-width: 1279px) {
    .footer-logo-mobile {
        display: block;
    }

    .footer-text-wrapper {
        width: 324px;
    }

    .disclaimer {
        width: max-content;
    }

    .description {
        font-size: 18px;
    }

    .footer-logo-desktop  {
        display: none;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .footer-logo-desktop  {
        display: block;
        margin: 80px auto 100px;
    }

    .description {
        font-size: 20px;
    }

    .disclaimer  {
        width: 1086px;
    }

    .footer-text-wrapper {
        width: 1086px;
    }

    .footer-logo-mobile {
        display: none;
    }
}

.footer-logo-mobile {
    margin: 45px auto 49px;
    height: 152px;
}

.footer {
    font-family: "Owners";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;

    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-bottom {
    background-color: #0e1851;
    padding-top: 45px;
}

.footer-top {
    height: 294px;
    margin-bottom: -15px;
    position: relative;
}
.footer-fire {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.footer-text {
    color: #fff;
}

.footer-text-wrapper {
    margin: 0 auto;
}

.disclaimer {
    font-family: "Owners Narrow";
    font-weight: 700;
    font-style: normal;

    bottom: 0;
    font-size: 40px;
    font-weight: bold;
    margin: 250px auto 0;
    position: relative;
    display: block;
}

.description {
    font-weight: 300;
}
