/* mobile */
@media (max-width: 1279px) {
  .form-input {
    margin-top: 20px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .form-input {
    margin-top: 18px;
  }

  .form-btn {
    margin-top: 48px;
  }
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  border-radius: 10px;
}

.label {
  font-family: "Owners Narrow";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.form-input:focus {
  outline: solid 2px #F71273;
}

.form-input::placeholder {
  font-family: "Owners";
  font-weight: 300;
  color: #080248;
  opacity: 0.15;
  font-size: 16px;
}

.form-btn {
  font-family: "Owners Narrow";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.from-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: "Owners";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.from-link:hover {
  color: #F71273;
}

.pink-span {
  color: #F71273;
}

.from-link:hover .pink-span {
  color: #fff;
}