@import "../styles/fonts.css";

h1 {
  margin: 0;
}

body {
  margin: 0;
  /* padding-bottom: 87px; */
  box-sizing: border-box;
  min-height: 100vh;
  background: #0c133c url('../assets/images/Game_controller.png') no-repeat 100% 70px;
  color: #fff;
  
  @media (max-width: 1110px) {
    padding: 0 48px 87px;
    /* background:#0c133c url('../assets/images/fire-background.png') 0 124px/ 100% auto no-repeat; */
    background: url('../assets/images/fire-background.png') center 20px/ 1224px auto no-repeat,
      linear-gradient(to top, #0E1851 50%, #0c133c 50%)
  }
/*   
  @media (max-width: 1110px) and (min-height: 890px) {
    padding: 0 48px 87px;
    background:url('../assets/images/main-top-fire.png') 50% 8%/ 1429px 294px no-repeat, linear-gradient(to top, #0E1851 73%, #0c133c 60%);
  } */
}

main {
  padding-top: 61px;
  max-width: 1057px;
  margin: 0 auto;

  @media (max-width: 1110px) {
    padding-top: 45px;
    width: max-content;
  }
}

.login-title {
  font-family: "Owners Narrow";
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 50px;
  color: #F71273;

  margin-bottom: 27px;

  @media (max-width: 1110px) {
      margin-bottom: 35px;
    }
}

.login-form {
  margin-bottom: 27px;
  max-width: 558px;

  .label {
      font-family: "Owners Narrow";
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 2px;
    }

  .label:first-child {
    display: block;
    margin-bottom: 21px;
  }

  @media (max-width: 600px) {
    max-width: 324px;
  }

  @media (max-width: 1110px) {
    margin-bottom: 35px;
  }
}

/* .login-form-input {
  margin-top: 20px;
  /* width: 100%; */

  /* @media (max-width: 1110px) {
      margin-top: 18px;
    } */
/* } */ 

/* .login-form-input:focus {
  outline: solid 2px #F71273;
}

.login-form-input::placeholder {
  font-family: "Owners";
  font-weight: 300;
  color: #080248;
  opacity: 0.15;
  font-size: 16px;
} */

.login-form-btn {
  width: 100%;
  margin-top: 33px;
}

.from-link-first {
  /* display: block;
  color: inherit;
  text-decoration: none;
  font-family: "Owners";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px; */

  margin-bottom: 10px;
}
/* 
.from-link:hover {
  color: #F71273;
}

.pink-span {
  color: #F71273;
}

.from-link:hover .pink-span {
  color: #fff;
} */

#burger-menu2 {
  display: none;
}

#burger-menu2.show {
  display: block;
}

.hidden {
  overflow-y: hidden;
}